<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.datao.mapper.BookMapper">
    <cache/>

    <select id="findAll" resultType="Book">
        SELECT * from book;
    </select>

    <select id="finById" resultType="Book">
        SELECT * from book where id = #{id}
    </select>

    <update id="upBook" parameterType="Book" >
        UPDATE book
        <set>
            <if test="code != null">code = #{code},</if>
            <if test="title != null">title = #{title},</if>
            <if test="author != null">author = #{author},</if>
            <if test="publishing != null">publishing = #{publishing},</if>
            <if test="price != null">price = #{price},</if>
            <if test="type != null">`type` = #{type},</if>
            <if test="why != null">why = #{why}</if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>