<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.datao.mapper.TaskMapper">
    <cache/>

    <select id="findAllTask" resultType="Task">
        SELECT * from t_task where userid = #{userid}
    </select>

    <insert id="addTask">
        INSERT INTO t_task(task, worktime, status, userid, custid, createtime)
        VALUES (#{task}, #{worktime}, #{status}, #{userid}, #{custid}, #{createtime})
    </insert>

    <select id="findById" resultType="Task">
        SELECT * FROM t_task where id = #{id}
    </select>

    <update id="upTask" >
        UPDATE t_task
        <set>
            <if test="task != null and task != ''">task = #{task}, </if>
            <if test="worktime != null and worktime != ''">worktime = #{worktime},</if>
            <if test="status != null and status !=''">status = #{status},</if>
            <if test="custid != null and custid !=''">custid = #{custid},</if>
            <if test="donetime != null and donetime != ''">donetime = #{donetime}</if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>